:root {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --background-color: #d7d6dd;
    --blue-color: #226a63;
    --blue-hover-color: #134c47;
    --gray-color:  #1e1e1e;
}

body {
  background: var(--background-color);
  font-family: 'Segoe UI', Arial, sans-serif;
}

.login-container {
  max-width: 50%;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
}

/* LOGIN BOX */
.login-box {
  display: grid;
  place-items: center;
  background: var(--background-color) !important;
  color: #2e3d35 !important;
  border: 2px solid #222;
  border-radius: 28px;
  padding: 1rem;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box h1 {
  font-size: 5.0rem;
  font-weight: 200;
  margin: 5px 0px 10px;
  color: var(--blue-color);
}

.login-box h2 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 5px 0px 10px;
}

.login-box p {
  font-size: 1.4rem;
  margin: 5px 0px 10px;
  width: 80%;
}

/* FORM BOX */
.form-box p {
  font-size: 1.0rem;
}

.form-box hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: inset;
  border-width: 1.5px;
  color: #2e3d35;
}

.form-box label {
  display: flex;
  font-weight: 500;
  margin-bottom: 0.1rem;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="tel"],
.form-box input[type="password"] {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border: 1.6px solid #222;
  border-radius: 10px;
  margin-bottom: 1.1rem;
  font-size: 1rem;
  background: var(--background-color);
  box-sizing: border-box;
}

.form-box button {
  display: block;
  margin: 1.2rem auto 0 auto;
  background: #17635b;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.7rem 2.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
}

.form-box button:hover {
  background: #104d45;
}

/* REGISTER BUTTOM */
.login-page::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 0.14em;
  background: var(--blue-color);
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.login-page:hover::after {
  transform: scale(1, 1);
}

.login-page.active {
  color: #226a63;
  font-weight: bold;
  border-bottom: 3px solid #226a63;
}

/* REGISTER TEXT */
.register-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.register-text p {
  margin: 0;
}

.register-text a {
  display: inline;
  position: relative;
  text-decoration: none;
  margin: 0 1.2em;
  padding: 0.18em;
  font-weight: 400;
  font-size: 1.0rem;
  transition: color 0.5s ease;
  color: var(--blue-color);
}

.register-text a:hover {
  color: var(--blue-hover-color);
}
