.perfil-datos-box {
  background: #f8f8fc;
  border-radius: 18px;
  box-shadow: 0 2px 8px #0001;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 2rem;
}

.perfil-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.perfil-img-placeholder {
  width: 188px;
  height: 188px;
  background: #e0e0e0;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 1.1rem;
  font-weight: 500;
  border: 2px dashed #bbb;
}

.perfil-datos-info {
  width: 100%;
  margin-bottom: 1.2rem;
}

.perfil-nombre {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.perfil-dato-no {
  color: #b71c1c;
  font-style: italic;
}
:root {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --background-color: #d7d6dd;
    --blue-color: #226a63;
    --blue-hover-color: #134c47;
    --gray-color:  #1e1e1e;
}

.perfil-container {
  display: grid;
  grid-template-columns: 400px 1fr;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-family: Arial, sans-serif;
}

.perfil-container h1{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #2e3d35;
    text-align: left;
}

.perfil-container img{
    border-radius: 50%;
}

.data-container {
  padding: 1rem 2rem;
  font-family: Helvetica, sans-serif;
}

.edit-btn {
    background-color: var(--blue-color);
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem;
    border-radius: 6px;
    margin-top: 0.5rem;
    padding: 0.4rem 1rem;
    color: white;
}

.edit-btn:hover {
    background-color: var(--blue-hover-color);
    transition: 0.2s ease;
}

.listado-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: #e7e6f0;
  font-family: Arial, sans-serif;
}
